body{
    background-color: black;
    color: blanchedalmond;
}
.cont{
    background-color: rgb(56, 57, 63);
    text-align: center;
    width: 90%;
    position: relative;
    left: 5%;
    height: auto;
}
textarea{
    display: inline-block;
    position: relative;
    top: 10px;
}
input[type=number]{
    display: inline-block;
    -webkit-appearance: none;
}
#btn-enviar{
    position: relative;
    top: 10px;
}